/*****************************
        Content Box
******************************/

.content-box-lg {
    padding: 20px 0;
}

.content-box-md {
    padding: 50px 0;
    padding-left: 30px;
}

.content-box-sm {
    padding: 50px 0;
    padding-left: 30px;
}

/*****************************
        Heading
******************************/

.horizontal-heading{
    color: #6255a5;
    font-family: "Open sans", sans-serif;
    font-size: 34px;
    line-height: 38px;
    font-weight: 600;
    margin: 0 0 30px 18px;
}

/*****************************
        dropdown
******************************/

.dropbtn {
    font-size: 16px;
    border: none;
    height: 40px;
    width: 40px;
    position: relative;
    top: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 180px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    font-size: 30px;
    padding: 12px 16px;
    font-family: "Open sans", sans-serif;
    text-decoration: none;
    display: block;
}

.dropdown-content a:nth-child(3) {
    color: #6255a5;
    text-transform: uppercase;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

/*****************************
        Header
******************************/
header{
    height: 40px;
}

.navbar{
    width: 100%;
    z-index: 9999;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

ul.nav li a:hover,
ul.nav li a:focus{
    background: none;
    color: #6255a5;
}

ul.nav li a img{
    height: 40px;
    width: 40px;
    position: relative;
    bottom: 5px;
}

ul.nav li a{
    font-family: "Open sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    height: 100%;
    color: #333333;
    -webkit-transition: all linear .3s;
    transition: all linear .3s;
}

.navbar-header img {
    width: 200px;
    height: 100%;
}

#loginbtn, #logoutbtn {
    color: #fff;
    border-radius: 3px;
    background-color: #6255a5;
    border: none;
    font-size: 16px;
    line-height: 22px;
    position: relative;
    bottom: 5px;
    font-family: "Open sans", sans-serif;
    width: 89px;
    height: 30px;
}

/*****************************
        Contact Header
******************************/

#contactbg{
    height: 250px;
    background-image: url(../images/Front_images/images/banner.png);
    position: relative;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

#contactbg h2{
    text-align: center;
    color: #fff;
    line-height: 52px;
    font-size: 48px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    position: absolute;
    top:75px;
    left:40%;
}

/*****************************
        Main Content
******************************/

label{
    color: #333333;
    line-height: 20px;
    font-weight: 400;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    margin-top: 10px;
}

input[type=text],input[type=email],input[type=number],input[type=file],select{
    border: 1px solid #d1d1d1;
    width: 705px;
    height: 50px;
    border-radius: 3px;
}

textarea{
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    width: 705px;
    height: 220px;
}

#submitbtn{
    background-color: #6255a5;
    width: 100px;
    height: 30px;
    color: #fff;
    border-radius: 3px;
    border: none;
    font-size: 18px;
    margin: 30px 0 0 15px;
    line-height: 22px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
}

/*****************************
        Footer Text
******************************/

#copytext{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #333333;
    position: relative;
    left: 18px;
}

/*****************************
        Footer
******************************/

ul.social-list {
    padding: 0;
    margin-top: 10px;
    padding-right: 200px;
}

ul.social-list li {
    display: inline-block;
    padding: 0;
}

ul.social-list li a {
    border: 18px solid #6255a5;
    margin-right: 10px;
    width: 36px;
    height: 36px;
    display: inline-block;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    position: relative;
    bottom: 10px;
}

ul.social-list li a i{
    position: relative;
    bottom: 8px;
    right: 5px;
}
