/*****************************
        Body
******************************/
body{
    background-image: url(../images/Front_images/images/login-bg-img.png);
    position: relative;
}

.logo{
    position: absolute;
    left: 41%;
    top: 110px;
}

#forgotpasspart{
    height: 250px;
    width: 400px;
    background-color: #fff;
    position: absolute;
    left: 38%;
    top: 190px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
}

input[type=email]{
    width: 350px;
    height: 30px;
    margin-left: 10px;
}

#submitbtn{
    width: 350px;
    background-color: #6255a5;
    border: none;
    color: #fff;
    margin: 15px 0;
    border: none;
    text-transform: uppercase;
    height: 30px;
}

#forgotpasspart label{
    margin-top: 15px;
    margin-left: 10px;
    font-weight: 100;
}

#forgotpasspart h2{
    color: #6255a5;
    font-size: 25px;
    font-weight: 100;
    font-family: "Open Sans", sans-serif;
    margin-top: 35px;
}

#forgotpasspart p{
    font-size: 10px;
    font-weight: 100;
    font-family: "Open Sans", sans-serif;
}
